.wallet {
    &__wrapper {
        background-color: var(--chat-item-background);
        padding: 10px;
        border-radius: 10px;
        display: flex;
        align-items: center;
        gap: 7px;
    }
    &__amount {
        font-weight: 500;
        font-size: 16px;
        white-space: nowrap;
        color: var(--chat-text);
    }
    &__icon {
        path {
            stroke: var(--chat-text);
        }
    }
}
