.consultation{
  &__wrapper{
    margin-bottom: 20px;
  }
  &__title{
    font-weight: 500;
    font-size: 22px;
    color: #000;
    margin: 0 0 10px 0;
  }
  &__list{
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-width: 750px;
  }
  &__item{
    display: flex;
    align-items: center;
  }

  &__name{
    width: 60%;
    padding-right: 10px;
  }
  &__views-id{
    width: 10%;
    text-align: start;
  }
  &__small-name{
    width: 20%;
    word-wrap: break-word;
  }
  &__status{
    text-align: center;
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__views-number{
    width: 10%;
    text-align: center;
  }
  &__views-number-big{
    width: 20%;
    text-align: center;
  }
  &__login{
    width: 30%;
  }
  &__fullname{
    width: 30%;
  }
  &__icons{
    width: 10%;
    height: 20px;
    margin-left: auto;
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  &__icon{
    width: auto;
    height: 100%;
    cursor: pointer;
    a{
      width: 100%;
      height: 100%;
      display: inline-block;
    }
  }
  &__icon-img{
    width: 100%;
    height: 100%;
  }
}

.booking{
  &__wrapper{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    align-items: center;
    gap: 10px;
  }
}

.consultation-textarea{
  &__wrapper{
    margin-bottom: 20px;
  }
  &__textarea{
    box-sizing: border-box;
    width: 100%;
    min-height: 100px;
    background-color: #f7f7f7;
    border: none;
    border-radius: 10px;
    padding: 10px;
    outline: none;
    border: 1px solid #efefef;
    resize: none;
    overflow: hidden;
    font-size: 14px;
  }
  &__submit{
    margin-top: 10px;
    margin-left: auto;
    border: none;
    outline: none;
    display: block;
  }
}

.comment{
  &__wrapper{
    position: relative;
    margin-bottom: 20px;
  }
  &__user-link{
    grid-row:1/2;grid-column:1/2;display:inline-grid;grid-template-rows:auto auto;grid-template-columns:auto auto;align-items:center;gap:5px 15px;width:auto;justify-content:start;justify-self:start;
    max-width: 100%;
    width: auto;
    overflow: visible;
  }
  &__avatar-main{
    width:40px;height:40px;border-radius:50%;grid-row:1/3;grid-column:1/2;-o-object-fit:cover;object-fit:cover
  }
  &__avatar-sub{
    width:32px;height:32px;border-radius:50%;grid-row:1/3;grid-column:1/2;-o-object-fit:cover;object-fit:cover
  }
  &__user-name{
    grid-row:1/2;grid-column:2/3;font-size:18px;
    white-space: normal; /* Разрешите перенос слов */
    word-wrap: break-word; /* Позволяет длинным словам переноситься */
  }
  @media (max-width: 500px) {
    &__user-name{
font-size: 14px;
    }
    &__avatar-main{
      width: 30px;
      height: 30px;
    }
    &__user-link{
      gap: 5px 5px;
    }
  }
  &__user-subtitle{
    grid-row:2/3;grid-column:2/3;color:#a6abb6;font-size:13px
  }
  &__ansv{
    color:#595959;cursor:pointer;
    &:hover{
      text-decoration:underline;
    }
  }
  &__text{
    grid-row:2/3;grid-column:1/3;display:block;margin:15px 0 10px;font-size:16px;
  }
  &__text blockquote{
    background:#fafbfc;border-left:3px solid #c8ccd1;padding:1em 25px 1em 30px;font-size:17px;line-height:24px
  }
  &__menu-btn{
    position: absolute;
    right: 15px;
    top: 15px;
    width:30px;height:30px;cursor:pointer;border-radius:50%;background-color:inherit;transition:all .2s linear;
  }
  &__menu-btn:hover &__menu-btn-svg{
    opacity:.5
  }
  &__menu-btn-svg{
    width:100%;height:100%
  }
  &__children{
    margin-left: 15px;
    background-color: #f2f2f2;
  }
  &__menu{
    position: absolute;
    top: calc(100% + 10px);
    right: 0;
    background-color: #fff;
    z-index: 100;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, .32);
  }
  &__menu-list{
    padding: 6px;
    display: flex;
    gap: 4px;
    flex-direction: column;
  }
  &__menu-item{
    padding: 6px 10px;
    border-radius: 6px;
    &-active{
      font-weight: bold;
      background-color: #f2f2f2;
    }
    &:hover{
      background-color: #f2f2f2;
    }
  }
}