.consultation-sidebar {
  &__wrapper {
	padding: 15px 20px
  }
  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
  }
  &__title {
    font-size: 16px;
    font-weight: bold;
    line-height: 1.75rem;
    margin: 0;
    padding: 0;
    color: var(--black);
  }
  &__img {
    background-color: var(--blue-img-bg);
    color: #fff;
    border-radius: 12px;
    line-height: 24px;
    font-size: 12px;
    padding: 4px;
    display: flex;
    align-items: center;
  }
  &__list {
    display: flex;
    gap: 30px;
    flex-direction: column;
  }
  &__item {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  &__problem-title {
    color: var(--link-text);
    font-size: 13px;
  }
  &__problem-info {
    color: var(--secondary-text);
    font-size: 12px;
  }
  &__button {
    font-weight: bold;
    background-color: rgba(30, 43, 68, 0.08);
    color: #000;
    border-radius: 8px;
    min-height: 50px;
    min-width: 128px;
    padding: 0 25px;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 15px;
    margin-top: 20px;
  }
  &__button:hover {
    background-color: #005ff9; color:#fff; opacity: 1
  }
}
