.consultation-plan {
    &__wrapper {
        background: #fff;
        box-shadow: 0 2px 2px #0000001a;
        border-radius: 32px;
    }
    &__top {
        display: flex;
        gap: 20px;
        align-items: flex-start;
        margin-bottom: 30px;
        padding: 15px 15px 0;
    }
    &__big-text {
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 15px;
        word-wrap: break-word;
    }
    &__big-text-first {
        width: 60%;
    }
    &__big-text-last {
        width: calc(40% - 94px);
    }
    &__img {
        width: 94px;
        height: 61px;
    }
    &__list {
        background-color: #dde5f1;
        display: flex;
        padding: 30px 15px;
        border-bottom-right-radius: 32px;
        border-bottom-left-radius: 32px;
    }
    &__item-title {
        display: flex;
        gap: 7px;
        margin-bottom: 10px;
    }
    &__item {
        width: 25%;
    }
    &__title {
        font-size: 18px;
        line-height: 24px;
        display: inline-block;
        margin-top: 10px;
    }
    &__number {
        display: inline-block;
        border-radius: 50%;
        text-align: center;
        margin-right: 10px;
        width: 20px;
        height: 20px;
        line-height: 20px;
        background-color: #fff;
        font-size: 12px;
        position: relative;
        top: -2px;
    }
    &__text {
        font-size: 13px;
        line-height: 24px;
        margin-bottom: 15px;
        word-wrap: break-word;
    }
}

@media (max-width: 767px) {
    .consultation-plan {
        &__top {
            flex-wrap: wrap;
        }
        &__big-text-first {
            width: 100%;
        }
        &__big-text-last {
            width: calc(100% - 130px);
        }
        &__list {
            flex-direction: column;
            gap: 15px;
        }
        &__item {
            width: 100%;
        }
    }
}
