:root {
  --main-text: #001f31;
  --secondary-text: #8c8f94;
  --dark-text: #152242;
  --link-text: #365bc2;
  --link-text-green: #53b374;
  --link-text-blue: ##00afff;
  --active-button: rgba(0, 0, 0, 0.07);
  --white: #fff;
  --footer-grey: hsl(240deg 7% 71% / 50%);
  --footer-bg: #323242;
}

