@import "../../node_modules/normalize.css/normalize";
@import "../../node_modules/swiper/swiper.scss";
@import "../../node_modules/swiper/modules/pagination.scss";
@import "fonts.scss";
@import "colors.scss";

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 0s 600000s, color 0s 600000s !important;
}

*,
*:before,
*:after{
  box-sizing: border-box;
}

body{
  background-color: var(--main-bg);
}

ul {
  list-style-type: none;
  padding: 0;
}

a{
  color: inherit;
  text-decoration: none;
}

h1{
  margin: 0;
}


.hide{
  display: none !important;
}

.hidden{
  overflow: hidden;
}

ul{
  margin: 0;
}

.container{
  margin: 0 auto;
  position: relative;
  max-width: 1176px;
  padding: 0 10px;
}

.small-container{
  margin: 0 auto;
  position: relative;
  max-width: 1000px;
}

body {
  color: var(--main-text);
  font-family: "Roboto", tahoma;
  font-weight: 400;
  font-size: 14px;
}

p{
  margin: 0;
}

* {
  scrollbar-width: none; /* Скрывает скроллбар в Firefox */
}

*::-webkit-scrollbar {
  display: none; /* Скрывает скроллбар в Chrome и Safari */
}

*::-webkit-scrollbar-button {
display: none; /* Скрывает кнопки-стрелки на скроллбаре */
}

.section-wrapper{
  background: #fff;
  box-shadow: 0 2px 2px rgb(0 0 0 / 10%);
  border-radius: .5em;
  padding: 15px;
}  

.custom-select{
  position: relative;
  cursor: pointer;
  &__hide{
    display: none;
  }
  &__rotate-arrow{
    transform: translateY(-50%) rotate(180deg);
  }
}



.main{
  &__wrapper-main{
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
  }
  &__wrapper{
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    gap: 40px; 
  }
  &__content{
    width: calc(100% - 320px);
    display: flex;
    gap: 40px;
    flex-direction: column;
  }
  &__sidebar{
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

@media (max-width: 930px) {
  .main{
    &__wrapper-main{
      flex-direction: column;
      margin: 0 10px;
      gap: 40px;
    }
    &__wrapper{
      margin: 0 10px;
    }
    &__content{
      width: 100%;
    }
    &__sidebar{
      width: 100%;
      gap: 40px;
    }
  }
}

.hide-text {
  position: relative;
}

.hide-text.active {
  overflow: hidden;
  height: 60px;
}

.hide-text.active:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: .7;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), to(#fff));
  background: linear-gradient (rgba(255, 255, 255, 0), #fff);
}

@import "components/header.scss";
@import "components/main-page/description.scss";
@import "components/main-page/consultation-sidebar.scss";
@import "components/main-page/news.scss";
@import "components/main-page/cards.scss";
@import "components/main-page/form-select.scss";
@import "components/main-page/blog-sidebar.scss";
@import "components/consultation-comments/text-service.scss";
@import "components/consultation-comments/consultation-slider.scss";
@import "components/consultation-comments/consultation-form.scss";
@import "components/consultation-comments/consultation-plan.scss";
@import "components/consultation-detail/question.scss";
@import "components/consultation-detail/ask-question.scss";
@import "components/consultation-detail/experts-list.scss";
@import "components/consultation-detail/comment.scss";
@import "components/consultation-detail/comments.scss";
@import "components/consultation-detail/comment-menu.scss";
@import "components/consultation-detail/full-form.scss";
@import "components/consultation-detail/paid-answer.scss";
@import "components/consultation-detail/contents.scss";
@import "components/consultation-detail/booking-fail.scss";
@import "components/consultation-detail/admin-control.scss";
@import "components/payment/specialists.scss";
@import "components/payment/payment-reviews.scss";
@import "components/payment/payment-form.scss";
@import "components/payment/first-radio.scss";
@import "components/payment/second-radio.scss";
@import "components/payment/promo.scss";
@import "components/mobile-panel.scss";
@import "components/footer.scss";
@import "components/login.scss";
@import "media.scss";