@import "../../node_modules/normalize.css/normalize";
@import "../../node_modules/swiper/swiper.scss";
@import "../../node_modules/swiper/modules/pagination.scss";
@import "fonts.scss";
@import "colors.scss";

input:-webkit-autofill,
input:-webkit-autofill:focus {
    transition: background-color 0s 600000s, color 0s 600000s !important;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    background-color: var(--main-bg);
}

ul {
    list-style-type: none;
    padding: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

h1 {
    margin: 0;
}

.hide {
    display: none !important;
}

.hidden {
    overflow: hidden;
}

ul {
    margin: 0;
}

.red-button {
    color: #fff;
    cursor: pointer;
    background-color: var(--button-red);
    padding: 7px 20px;
    border-radius: 7px;
}

.container {
    margin: 0 auto;
    position: relative;
    max-width: 1176px;
    padding: 0 10px;
    width: 100%;
}

.small-container {
    margin: 0 auto;
    position: relative;
    max-width: 1000px;
    width: 100%;
}

.big-container {
    max-width: 1368px;
    position: relative;
    margin: 0 auto;
    width: 100%;
}

body {
    color: var(--main-text);
    font-family: "Roboto", tahoma;
    font-weight: 400;
    font-size: 14px;
}

p {
    margin: 0;
}

// * {
//   scrollbar-width: none; /* Скрывает скроллбар в Firefox */
// }

// *::-webkit-scrollbar {
//   display: none; /* Скрывает скроллбар в Chrome и Safari */
// }

// *::-webkit-scrollbar-button {
// display: none; /* Скрывает кнопки-стрелки на скроллбаре */
// }

.section-wrapper {
    background: #fff;
    box-shadow: 0 2px 2px rgb(0 0 0 / 10%);
    border-radius: 0.5em;
    padding: 15px;
}

.custom-select {
    position: relative;
    cursor: pointer;
    &__hide {
        display: none;
    }
    &__rotate-arrow {
        transform: translateY(-50%) rotate(180deg);
    }
}

.main {
    &__wrapper-main {
        display: flex;
        justify-content: space-between;
        padding: 0 0 30px;
        flex-wrap: wrap;
    }
    &__wrapper {
        padding: 0 0 30px;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    &__content {
        width: calc(100% - 320px);
        display: flex;
        gap: 40px;
        flex-direction: column;
    }
    &__sidebar {
        width: 300px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    &__ask-question-sidebar {
        background-color: rgba(30, 43, 68, 0.08);
        color: #000;
        border-radius: 8px;
        min-height: 50px;
        min-width: 128px;
        padding: 0 25px;
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        font-weight: bold;
        font-size: 15px;
    }
    &__ask-question-sidebar:hover {
        background-color: #005ff9;
        color: #fff;
        opacity: 1;
    }
    &__online-waiting {
        margin-top: 20px;
    }
}

@media (max-width: 930px) {
    .main {
        &__wrapper-main {
            flex-direction: column;
            gap: 40px;
        }
        &__content {
            width: 100%;
        }
        &__sidebar {
            width: 100%;
            gap: 40px;
        }
        &__description {
            margin-top: 0;
        }
    }
}

.hide-text {
    position: relative;
}

.hide-text.active {
    overflow: hidden;
    height: 60px;
}

.hide-text.active:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    background: -webkit-gradient(
        linear,
        left top,
        left bottom,
        from(rgba(255, 255, 255, 0)),
        to(#fff)
    );
    background: linear-gradient (rgba(255, 255, 255, 0), #fff);
}

.svg-hide {
    position: absolute;
}

.toast {
    position: fixed;
    bottom: 20px;
    left: 20px;
    z-index: 100;
    &__container {
        min-width: 200px;
        height: 50px;
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
        opacity: 0;
        transition: opacity 0.5s ease-in-out;
        padding: 15px;
        background-color: #fff;
        border-radius: 5px;
    }
    &__show {
        opacity: 1;
    }
}

@media (max-width: 990px) {
    .toast {
        bottom: 90px;
    }
}

@import "components/header.scss";
@import "components/common/description.scss";
@import "components/common/themes.scss";
@import "components/common/chat.scss";
@import "components/common/consultation-slider.scss";
@import "components/main-page/consultation-sidebar.scss";
@import "components/main-page/news.scss";
@import "components/main-page/cards.scss";
@import "components/main-page/form-select.scss";
@import "components/main-page/blog-sidebar.scss";
@import "components/consultation-comments/text-service.scss";
@import "components/consultation-comments/consultation-form.scss";
@import "components/consultation-detail/question.scss";
@import "components/consultation-detail/ask-question.scss";
@import "components/consultation-detail/experts-list.scss";
@import "components/consultation-detail/comment.scss";
@import "components/consultation-detail/comments.scss";
@import "components/consultation-detail/comment-menu.scss";
@import "components/consultation-detail/full-form.scss";
@import "components/consultation-detail/paid-answer.scss";
@import "components/consultation-detail/contents.scss";
@import "components/consultation-detail/admin-control.scss";
@import "components/consultation-detail/online-waiting.scss";
@import "components/consultation-detail/online-list.scss";
@import "components/consultation-detail/consultation.scss";
@import "components/payment/specialists.scss";
@import "components/payment/payment-reviews.scss";
@import "components/payment/payment.scss";
@import "components/payment/first-radio.scss";
@import "components/payment/second-radio.scss";
@import "components/payment/promo.scss";
@import "components/payment/payment-type.scss";
@import "components/common/consultants-form.scss";
@import "components/common/reviews-slider.scss";
@import "components/common/expert-card.scss";
@import "components/mobile-panel.scss";
@import "components/footer.scss";
@import "components/login.scss";
@import "components/consultation-detail/category/category-intro.scss";
@import "components/consultation-detail/category/category-info.scss";
@import "components/consultation-detail/category/category-form.scss";
@import "components/consultation-detail/category/category-card.scss";
@import "components/consultation-detail/category/questions-accordion.scss";
@import "components/consultation-detail/category/ask-question-form.scss";
@import "components/chat/full-chat.scss";
@import "components/chat/chat-side-menu.scss";
@import "components/chat/chat-sidebar.scss";
@import "components/chat/chat-header.scss";
@import "components/chat/chat-messages.scss";
@import "components/chat/chat-message.scss";
@import "components/chat/chat-bottom.scss";
@import "media.scss";
