.chat-messages {
  &__wrapper {
    background-color: var(--chat-main-background);
    height: 100%;
    padding: 24px;
    max-height: calc(100svh - 182px);
    overflow: auto;
    scrollbar-width: thin; /* Тонкий скролл */
    scrollbar-color: #d0d6db transparent; /* Цвет ползунка и трека */
    &::-webkit-scrollbar {
      width: 8px; /* Ширина вертикального скроллбара */
    }

    /* Фон скроллбара */
    &::-webkit-scrollbar-track {
      background: transparent; /* Цвет фона */
      border-radius: 10px; /* Округление трека */
    }

    /* Ползунок скроллбара */
    &::-webkit-scrollbar-thumb {
      background: #d0d6db; /* Цвет ползунка */
      border-radius: 10px; /* Округление ползунка */
    }

    /* Ползунок при наведении */
    &::-webkit-scrollbar-thumb:hover {
      background: #d0d6db; /* Цвет ползунка при наведении */
    }
  }
  &__list {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  &__scroll-button{
    border-radius: 50%;
    padding: 10px;
    background-color: var(--chat-sidebar-background);
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: absolute;
    bottom: 20px;
    right: 20px;
    z-index: 100;
    transition: all .3s linear;
    transform: translateY(200%);
    &--show{
      transform: translateY(0);
    }
  }
  &__scroll-button-counter{
    position: absolute;
    padding: 5px;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--chat-item-background);
    display: none;
    width: 20px;
    height: 20px;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    &--show{
      display: flex;
    }
  }
}

@media (max-width: 990px) {
  .chat-messages {
    &__wrapper {
      max-height: calc(100svh - 150px);
    }
  }
}
