.full-chat {
  * {
    transition: all 0.2s linear;
  }
  &__wrapper {
    height: 100vh;
    display: grid;
    grid-template-columns: 75px 384px 1fr;
    grid-template-rows: 1fr;
    position: relative;
    overflow: hidden;
  }
  &__chat-side-menu {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    box-shadow: 0 2px 4px #0f223a1f;
    position: relative;
    z-index: 10;
  }
  &__chat-sidebar {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }
  &__main {
    background-color: var(--chat-main-background);
  }
  &__main-wrapper {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    display: flex;
    flex-direction: column;
    box-shadow: 0 2px 4px #0f223a1f;
    display: none;
    &--show {
      display: block;
    }
  }
  &__chat-header {
    height: 89px;
  }
  &__chat-messages {
    flex: 1;
  }
  &__chat-bottom {
    height: 93px;
  }
}

@media (max-width: 990px) {
  .full-chat {
    &__wrapper {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 66px;
    }
    &__chat-sidebar {
      grid-column: 1 / 2;
      grid-row: 1 / 2;
    }
    &__chat-side-menu {
      grid-column: 1 / 2;
      grid-row: 2 / 3;
    }
    &__chat-header {
      height: 73px;
    }
    &__chat-bottom {
      height: 77px;
    }
    &__main-wrapper {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      height: 100vh;
      transform: translateX(150%);
      z-index: 15;
      display: flex;
      &--show {
        transform: translateX(0);
      }
    }
  }
}
