.footer {
    &__outer {
        background-color: var(--footer-bg);
    }
    &__wrapper {
        padding: 30px 10px;
    }
    &__links {
        display: flex;
        flex-wrap: wrap;
        column-gap: 25px;
        row-gap: 15px;
        margin-bottom: 16px;
    }
    &__link {
        color: var(--main-text);
        line-height: 20px;
        font-size: 14px;
        display: inline-block;
        &:hover {
            color: #00afff;
        }
    }
    &__small-text {
        font-size: 12px;
        line-height: 18px;
        margin-bottom: 25px;
        display: inline-block;
    }
    &__big-link {
        color: var(--main-text);
        font-size: 22px;
        font-weight: bold;
        display: block;
        margin-bottom: 3px;
    }

    &__online-consultation {
        background: var(--white);
        color: #000;
        font-size: 15px;
        padding: 9px 23px;
        min-height: 42px;
        text-decoration: none;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        margin-bottom: 20px;
        margin-top: 15px;
    }
    &__rating-badge {
        display: block;
        width: 150px;
        height: 50px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 100%;
        margin-bottom: 25px;
    }
    &__rating {
        margin-bottom: 25px;
    }
}

@media (max-width: 992px) {
    .footer {
        &__wrapper {
            flex-direction: column;
            padding: 30px 20px 0;
            gap: 20px;
            padding-bottom: 50px;
        }
        &__left {
            order: 1;
            width: 100%;
        }
        &__right {
            order: 0;
        }
        &__small-title {
            display: none;
        }
        &__links {
            justify-content: center;
        }
    }
}
