.popup-form{
  &__wrapper{
    max-width: 500px;
    margin: 100px auto 0;
    background-color: #fff;
    border-radius: 15px;
    padding: 25px;  
  }
  &__form{
    margin-top: 10px;
  }
  &__input-wrapper{
    margin-bottom: 70px;
    position: relative;
    background-color: rgba(15,25,55,.1);
    height: 72px;
    border-radius: 12px;
    &:hover{
      background-color: rgba(15,25,55,.1);
    }
  }
  &__label{
    display: inline-block;
    padding-left: 10px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  &__input{
    background-color: transparent;
    border: none;
    outline: none;
  }
  &__submit{
    font-size: 15px;
    width: auto;
    min-height: 40px;
    border-radius: 10px;
    padding: 5px 15px;
    cursor: pointer;  
    border: none;
    color: grey;
    // background-color: #e01935;
    background-color: #dedede;
    display: block;
    margin: 0 auto 20px;
    transition: all .3s linear;
    font-weight: 600;
    // color: #fff;
    color: #333;
    &:hover{
      background-color: #bfbfbf;
    }
  }
  &__submit-disabled{
    // background-color: #3276c3;
    background-color: #ebebeb;
    &:hover{
      background-color: #ebebeb;
    }
  }
  &__password{
    padding-right: 40px;
  }
  &__password-img{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    cursor: pointer;
    opacity: .5;     
  }
}