.popup-form{
  &__wrapper{
    max-width: 500px;
    margin: 100px auto 0;
    background-color: #fff;
    border-radius: 15px;
    padding: 25px;  
  }
  &__form{
    margin-top: 10px;
  }
  &__input-wrapper{
    position: relative;
    background-color: rgba(15,25,55,.1);
    height: 72px;
    border-radius: 12px;
    display: flex;
    cursor: text;
    align-items: end;
    padding: 10px;  
    border: 2px solid rgba(136,136,144, 0);
    transition: all .2s linear;
    margin-bottom: 20px;
    &:hover{
      background-color: rgba(15,25,55,.1);
    }
    &:last-of-type{
      margin-bottom: 40px;
    }
  }
  &__input-wrapper:focus-within {
    border: 2px solid rgba(136, 136, 144, 1);
  }
  &__label{
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: all .2s linear;
    opacity: .7;
  }
  &__label-active {
    transform: translateY(0);
    top: 20px;
    font-size: 12px;
  }
  &__input{
    background-color: transparent;
    border: none;
    outline: none;
    padding: 0;
  }
  &__submit{
    font-size: 15px;
    width: 100%;
    min-height: 40px;
    height: 54px;
    border-radius: 12px;
    padding: 5px 15px;
    cursor: pointer;  
    border: none;
    color: grey;
    background-color: #212124;
    display: block;
    margin: 0 auto 20px;
    transition: all .3s linear;
    font-weight: 600;
    color: #fff;
    &:hover{
      background-color: #2f2f32;
    }
  }
  &__submit-disabled{
    background-color: rgba(38,55,88,.06);
    cursor: not-allowed;
    color: rgba(5,8,29,.38);
    &:hover{
      background-color: rgba(38,55,88,.06);
      color: rgba(5,8,29,.38);
    }
  }
  &__password{
    padding-right: 40px;
  }
  &__password-img{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    cursor: pointer;
    opacity: .5;     
  }
}