.contents{
  &__title{
    margin-bottom: 35px;
    font-size: 20px;
    line-height: 1.3;
  }
  &__list{
    display: flex;
    flex-direction: column;
    gap: 5px;
    counter-reset: list 0;
  }
  &__item{
    display: flex;
    margin-bottom: 12px;
    font-size: 14px;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  &__text{
    display: block;
    margin-left: 30px;
    margin-right: 10px;
    color: var(--link-text);
    &:hover{
      color: var(--main-color);
    }
  }
  &__delete{
    width: 20px;
    height: 20px;
    margin-left: auto;
    display: block;
  }
  &__img{
    width: 100%;
    height: 100%;
  }
  &__nubmer{
    &::before{
      counter-increment: list;
      content: counter(list) ".";
      font-size: 14px;
    }
  }
}

@media (max-width: 768px) {
  .contents{
    &__text{
      margin: 0 5px;
    }
  }
}