.experts-list {
    &__title {
        font-size: 1.5rem;
        font-weight: 700;
        line-height: 0.98;
        letter-spacing: -1px;
        margin-bottom: 2rem;
    }
    &__wrapper {
        display: flex;
        flex-direction: column;
        gap: 25px;
        overflow: auto;
        scrollbar-width: none;
        &::-webkit-scrollbar {
            display: none; /* Скрывает скроллбар */
        }
    }
    &__expert-wrapper {
        display: flex;
        align-items: center;
        gap: 10px;
    }
    &__expert {
        padding: 12px;
        border-radius: 20px;
        text-align: center;
        width: 144px;
        flex-shrink: 0;
        background-color: #fff;
    }
    &__expert-link {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 12px;
    }
    &__expert-img {
        -webkit-border-radius: 50%;
        border-radius: 50%;
        width: 72px;
        height: 72px;
        margin-bottom: 13px;
        object-fit: cover;
    }
    &__expert-fullname {
        font-size: 15px;
        line-height: 15px;
        font-weight: 500;
        color: var(--link-text);
        display: flex;
        align-items: center;
        margin-bottom: 6px;
        &:hover {
            color: var(--main-text);
        }
    }
    &__expert-status {
        color: #8c8f94;
        font-size: 13px;
        line-height: 15px;
        color: var(--secondary-text);
        display: flex;
        align-items: center;
    }
    &__anchor {
        background-color: #196dff;
        color: #fff;
        padding: 10px 12px;
        display: inline-block;
        border-radius: 10px;
    }
}
