.paywall{
  &__title{
    text-align: center;
    font-size: 28px;
    line-height: 36px;
    margin-bottom: 16px;
    font-weight: 600;
  }
  &__subtitle{
    font-weight: 600;
    max-width: 432px;
    margin: 0 auto;
    padding-bottom: 10px;
  }
  &__list{
    max-width: 432px;
    margin: 0 auto;
    list-style-type: none;
    padding: 0;
    gap: 10px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  &__item{
    line-height: 20px;
    position: relative;
    padding-left: 28px;
    &:before{
      content: "";
      width: 16px;
      height: 16px;
      left: 0;
      top: 0;
      position: absolute;
      background-image: url('../images/check.svg');
    }
  }
  &__button{
    margin: 0 auto;
    max-width: 432px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffbf0f;
    color: #000;
    text-decoration: none;
    font-weight: 600;
    border-radius: 4px;
    &:hover{
      background-color: #ffcf4b;
    }
  }

}

a.paywall__button{
  color: var(--main-text);
}