.payment-reviews{
  &__swiper-wrapper{
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
    box-sizing: border-box;
  }
  &__slider{
    overflow: hidden;
    padding-bottom: 10px;
    padding-right: 20px;
  }
  &__slide{
    height: auto !important;
  }
  &__slider-container{
    position: relative;
  }
  &__arrow{
    position: absolute;
    display: block;
    top: 0;
    margin-top: -16px;
    font-size: 32px;
    line-height: 25px;
    color: #FFF;
    text-align: center;
    background: #37a000;
    box-shadow: 0 1px 5px 0 rgb(57 73 76 / 35%);
    text-align: center;
    width: 28px;
    height: 28px;
    cursor: pointer;
    z-index: 100;
  }
  &__arrow-after{
    right: 15px;
  }
  &__arrow-before{
    right: 50px;
  }
}

.payment-reviews-slide{
  &__wrapper{
    display: flex;
    background: #fff;
    padding: 25px 20px;
    box-shadow: 0 2px 6px 0 rgb(0 0 0 / 24%);
    border-radius: .5em;
    gap: 20px;
    height: 100%;
  }
  &__header{
    display: flex;
    align-items: center;
    flex-direction: column;
    min-width: 200px;
  }
  &__avatar{
    min-width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
    box-shadow: 0 14px 24px -15px #000;
    margin-bottom: 20px;
  }
  &__avatar-img{
    width: 100%;
    height: 100%;
  }
  &__name{
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 10px;
  }
  &__status{
    color: var(--secondary-text);
    font-size: 15px;
    font-weight: 300;
    margin-bottom: 10px;
  }
  &__stars{
    display: flex;
    gap: 3px;
  }
  &__star{
    width: 20px;
    height: 20px;
  }
  &__text-top{
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 15px;
    word-wrap: break-word;
    display: inline-block
  }
  &__review{
    color: var(--secondary-text);
    font-size: 15px;
    font-weight: 300;
    margin-bottom: 30px;
    display: inline-block;
    line-height: 24px;
  }
  &__review-link{
    color: var(--link-text);
    font-weight: 400;
    &:hover{
      color: var(--main-text);
    }
  }
  &__user{
    display: flex;
    align-items: center;
    gap: 15px;
  }
  &__user-avatar{
    border-radius: 50%;
    height: 38px;
    width: 38px;
    min-width: 38px;
    overflow: hidden;
  }
  &__avatar-img{
    width: 100%;
    height: 100%;
  }
  &__client{
    display: flex;
    flex-direction: column;
    line-height: 1.4;
    gap: 3px;
  }
  &__client-name{
    font-weight: 500;
    font-size: 15px;
  }
  &__client-date{
    color: var(--secondary-text);
    font-size: 13px;
    font-weight: 300;
  }
}


@media (max-width: 960px) {
  
  .swiper-autoheight .swiper-wrapper{
    max-height: 300px ;
  }
  // .swiper-autoheight .swiper-wrapper{
  //   height: 300px !important;
  // }
  .swiper-backface-hidden .swiper-slide{
    height: auto !important;
  }
  // .payment-reviews{
  //   &__slider-container{
  //     padding-top: 30px;
  //   }
  //   &__slide{
  //     height: 200px;
  //   }
  // }
  // .payment-reviews-slide{
  //   &__wrapper{
  //     height: 200px;
  //   }
  //   &__header{
  //     height: 200px;
  //   }
  // }
}

@media (max-width: 540px) {
  .payment-reviews-slide{
    &__wrapper{
      flex-direction: column;
    }
  }
}