.payment {
    &__wrapper {
        box-sizing: border-box;
        margin-bottom: 30px;
        padding-top: 30px;
    }

    &__title {
        font-size: 35px;
        font-weight: 700;
        margin-bottom: 20px;
        line-height: 30px;
    }

    &__sub-title {
        display: block;
        margin-bottom: 20px;
        font-size: 15px;
    }

    &__small-title {
        display: block;
        margin-top: 20px;
        margin-bottom: 10px;
        font-weight: 500;
        font-size: 18px;
        line-height: 14px;
    }

    &__amount-list {
        display: flex;
        gap: 5px;
        margin: 0;
        padding: 0;
        margin-bottom: 20px;
        flex-wrap: wrap;
    }

    &__amount-input:checked + &__amount-radio {
        background-color: #000;
        color: #fff;
    }

    &__amount-radio {
        display: block;
        background-color: #f2f1f0;
        border-radius: 12px;
        cursor: pointer;
        padding: 13px 17px;
        transition: 0.2s linear;
        font-size: 16px;
        line-height: 14px;
        &:hover {
            background-color: #000;
            color: #fff;
        }
    }

    &__urgency-list {
        margin: 0;
        padding: 0;
        list-style-type: none;
        display: flex;
        gap: 10px;
        margin-bottom: 50px;
        overflow: auto;
        scrollbar-width: none;
        line-height: 20px;
        -ms-overflow-style: none;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    &__urgency-radio {
        width: -moz-fit-content;
        width: fit-content;
        background-color: #f2f1f0;
        border-radius: 24px;
        cursor: pointer;
        padding: 18px 60px 24px 20px;
        border: 2px solid transparent;
        position: relative;
        overflow: hidden;
        transition: 0.2s linear;
        min-width: 235px;
        height: 100%;

        &:hover {
            border: 2px solid #000;
        }
    }

    &__urgency-input:checked + &__urgency-radio {
        border: 2px solid #000;
    }

    &__urgency-title {
        font-size: 24px;
        font-weight: 700;
        display: block;
        margin-bottom: 10px;
    }

    &__urgency-subtitle {
        font-size: 16px;
        font-weight: 500;
    }

    &__urgency-text {
        font-size: 15px;
    }

    &__urgency-img {
        position: absolute;
        right: -30px;
        top: 50%;
        transform: translateY(-50%);
        width: auto;
        height: 80%;
    }

    &__normal-title {
        margin-bottom: 30px;
        display: block;
        font-weight: 1000;
        font-size: 24px;
    }

    &__bottom {
        display: flex;
        justify-content: space-between;
        gap: 20px;

        @media (max-width: 1200px) {
            flex-direction: column;
        }
    }

    &__checkboxes {
        max-width: 725px;
        width: 100%;
        display: flex;
        flex-direction: column;
        list-style-type: none;
        margin: 0;
        padding: 0;
        gap: 15px;
    }

    &__result {
        max-width: 404px;
        width: 100%;
        box-sizing: border-box;
        max-height: 207px;
        padding: 20px 24px 28px;
        background-color: #f2f1f0;
        border-radius: 24px;
        position: sticky;
        top: 5px;

        &-img {
            border-radius: 24px;
            padding: 20px 24px;
            width: 100%;
            height: 100px;
            margin-bottom: 10px;
            background-color: #fff;
        }

        &-title {
            font-weight: 400;
            margin-bottom: 10px;
        }

        &-price {
            font-size: 26px;
            font-weight: 1000;
        }
    }

    &-checkbox {
        &__wrapper {
            padding: 20px 24px 28px;
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05),
                0 4px 24px rgba(0, 0, 0, 0.12);
            border-radius: 24px;
            padding-right: 110px;
            position: relative;
            font-size: 16px;

            // @media (max-width: 576px) {
            //     padding-right: 20px;
            // }

            // @media (max-width: 400px) {
            //     padding: 20px 10px 28px;
            // }
        }

        &__inner {
            display: flex;
            gap: 10px;
            position: static;
            align-items: center;
        }

        &__img {
            width: 48px;
            height: 48px;
        }

        &__title {
            font-weight: 700;
            display: block;
            margin-bottom: 3px;
            line-height: 1.4;
        }

        &__text {
            display: block;
            line-height: 1.2;
        }

        &__right {
            position: absolute;
            top: 20px;
            right: 20px;
            display: flex;
            gap: 10px;
            height: 20px;
            align-items: center;
        }

        &__grey-text {
            color: grey;
        }

        &__hidden {
            display: none !important;
        }

        &__additional-input-wrapper {
            margin-top: 20px;
        }

        &__additional-input {
            max-width: 300px;
            width: 100%;
            border: none;
            border-bottom: 1px solid rgba(11, 31, 53, 0.3);
            outline: none;
            border-radius: 5px;
            padding: 10px;
            background-color: #f2f1f0;
        }
    }
    &__method {
        padding-bottom: 30px;
    }
}
.form-switch {
    position: relative;
    display: inline-block;
    width: 32px;
    height: 16px;

    &__checkbox {
        opacity: 0;
        width: 0;
        height: 0;
    }

    &__slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        transition: 0.4s;
        border-radius: 34px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 10px;
        font-family: sans-serif;
        color: white;
        font-size: 14px;

        &::before {
            position: absolute;
            content: "";
            height: 12px;
            width: 12px;
            left: 3px;
            top: 50%;
            transform: translateY(-50%);
            background-color: white;
            transition: 0.2s;
            border-radius: 50%;
        }
    }

    &__checkbox:checked + &__slider {
        background-color: #000;

        &::before {
            transform: translate(15px, -50%);
        }
    }
}

.payment-method {
    &__radio-input {
        display: none;
    }
    &__tabs {
        margin-bottom: 20px;
        display: flex;
        align-items: center;
        gap: 20px;
    }
    &__radio-input:checked + &__radio-label {
        border-bottom: 3px solid #f7a600;
        font-weight: 500;
        color: inherit;
    }
    &__radio-label {
        cursor: pointer;
        position: relative;
        padding-bottom: 10px;
        color: #a6abb6;
        border-bottom: 3px solid transparent;
        transition: all 0.2s linear;
    }
    &__list {
        display: flex;
        padding: 15px 0 15px 0;
        gap: 20px;
        flex-wrap: wrap;
    }
    &__item {
        @media screen and (min-width: 900px) {
            flex: 0;
            width: auto;
        }
        @media screen and (max-width: 768px) {
            flex: 0 calc(50% - 10px);
            margin: 0;
        }
    }
    &__input {
        display: none;
        &:checked + label {
            border-color: #fc0;
        }
        &:checked + label::after {
            opacity: 1;
            visibility: visible;
        }
    }
    &__label {
        background-color: #e6e9ea;
        -webkit-flex-direction: column;
        flex-direction: column;
        width: 150px;
        height: 150px;
        flex-wrap: nowrap;
        padding: 15px;
        align-items: start;
        gap: 10px;
        display: flex;
        box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 2px #e3e4e8;
        border-radius: 16px;
        position: relative;
        border: 2px solid transparent;
        transition: border-color 0.3s ease-in-out;
        cursor: pointer;
        &--small {
            width: 130px;
            height: 92px;
        }
        @media (max-width: 768px) {
            width: 100%;
        }
        &:hover {
            border-color: #fc0;
        }
        &::after {
            content: "";
            position: absolute;
            right: 10px;
            top: 10px;
            width: 16px;
            height: 16px;
            -webkit-border-radius: 50%;
            border-radius: 50%;
            background: #0fa113 url(/storage/common/checkmark.svg) no-repeat -2px -2px /
                20px auto;
            -webkit-transition: all 0.3s;
            transition: all 0.3s;
            opacity: 0;
            visibility: hidden;
        }
    }
    &__icon {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        img {
            max-width: 100%;
        }
    }
    &__body {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex: 1;
    }
    &__title {
        font-size: 14px;
        line-height: 18px;
        color: #001f31;
        margin-bottom: 3px;
        display: block;
    }
    &__text {
        font-size: 13px;
        line-height: 16px;
        color: #999;
        display: block;
    }
    &__foreign-pay {
        margin: 20px 0;
    }
    &__foreign-pay-link {
        color: #365bc2;
        &:hover {
            text-decoration: underline;
        }
    }
    &__submit {
        background-color: #07c160;
        color: #fff;
        border-radius: 12px;
        min-height: 56px;
        min-width: 128px;
        padding: 0 27px;
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        border: none;
        font-size: 16px;
        cursor: pointer;
    }
}

@media (max-width: 1024px) {
    .payment-form__inner {
        padding-left: 15px;
        padding-right: 15px;
    }
}
