.promo{
  &__list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 30px;
  }
  &__item{
    width: 32%;
    position: relative;
    min-height: 285px;
    height: auto;
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    border: 2px solid #e5e5e5;
  }
  &__header{
    padding: 20px;
    margin-bottom: 10px;
  }
  &__item-title{
    margin: 0;
    font-size: 20px;
    margin-bottom: 6px;
    line-height: 1.2;
    font-weight: bold;
  }
  &__subtitle{
    font-size: 15px;
    line-height: 1.2;
  }
  &__item-list{
    padding: 15px;
    padding-left: 55px;
    gap: 15px;
    display: flex;
    flex-direction: column;
  }
  &__item-item{
    position: relative;
    &::before{
      content: '\2714';
      left: -40px;
      top: 50%;
      width: 24px;
      font-size: 15px;
      height: 24px;
      background: #f5f5f5;
      text-align: center;
      vertical-align: middle;
      border-radius: 50%;
      line-height: 1.6;
      position: absolute;
      transform: translateY(-50%);
      color: #006df0;
    }
  }
  &__input{
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    height: 50px;
    border-radius: 5px;
    border: 2px solid #5b89bd;
  }
  &__input-wrapper{
    padding: 0 15px;
  }
  &__bottom{
    padding: 15px;
    display: flex;
    justify-content: space-between;
    margin-top: auto;
  }
  &__price{
    vertical-align: baseline;
    display: inline-block;
    padding: 0;
    text-align: center;
    font: 700 29px / 30px Arial, 'Helvetica Neue', Helvetica, FreeSans, sans-serif;
  }
  &__input-radio:checked + &__label{
    background: #3fb442;
    color: #fff;
  }
  &__label{
    text-align: center;
    background: #006df0;
    padding: 0 12px;
    height: 36px;
    font-size: 15px;
    line-height: 36px;
    display: flex;
    border-radius: 5px;
    font-weight: 700;
    color: #fff;
    align-items: center;
    cursor: pointer;
    &:hover{
    background: #00ca67;
    cursor: pointer;
    }
  }
}

@media (max-width: 767px) {
  .promo{
    &__wrapper{
      padding: 0 15px;
    }
    &__item{
      width: 100%;
    }
  }
}