.questions {
    &__wrapper {
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
    }
    &__list {
        margin: 0 auto;
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        max-width: 1000px;
    }
}

.question {
    &__wrapper {
        background-color: #fff;
        border-radius: 32px;
        padding: 15px;
        cursor: pointer;
        box-shadow: 0 2px 2px #0000001a;
    }
    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__title {
        font-weight: 600;
        padding-right: 10px;
    }
    &__button {
        min-height: 40px;
        min-width: 40px;
        background: #f7f7f7;
        color: #fff;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        transition: all 0.3s ease-in;
    }
    &__opened {
        .question__button {
            transform: rotate(180deg);
        }
    }
    &__answer-wrapper {
        max-height: 0;
        overflow: hidden;
        transition: all 0.3s ease-in;
    }
}
