.forum {
    &__wrapper {
        display: flex;
        padding-top: 40px;
        padding-bottom: 40px;
        gap: 20px;
        max-width: 1950px;
        margin: 0 auto;
    }
    &__left-sidebar {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    &__main {
        flex: 3;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    &__right-sidebar {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}
