.forum {
    &__inner {
        display: flex;
        padding-top: 40px;
        padding-bottom: 40px;
        gap: 20px;
        max-width: 1196px;
        margin: 0 auto;
    }
    &__left-sidebar {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    &__main {
        flex: 3;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    &__right-sidebar {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}

@media (max-width: 1200px) {
    .forum {
        &__right-sidebar {
            display: none;
        }
    }
}

@media (max-width: 992px) {
    .forum {
        &__inner {
            flex-direction: column;
            padding-top: 20px;
            padding-bottom: 20px;
        }
        &__themes-sidebar {
            display: none;
        }
    }
}
