.sidebar-top-blogs {
    &__title {
        padding-left: 10px;
        font-weight: 500;
    }
    &__list {
        margin-top: 10px;
        display: flex;
        flex-direction: column;
    }
    &__item {
        max-width: 200px;
    }
    &__link {
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 10px;
        border-radius: 8px;
        font-weight: 500;
        &:hover {
            background-color: var(--main-bg);
        }
    }
    &__show-more {
        color: var(--link-text);
        margin-top: 15px;
        display: block;
        width: fit-content;
        &:hover {
            color: var(--main-text);
        }
    }
}
